@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;   /* remove default browser margin */
  padding: 0;  /* remove default browser padding */
}

body {
  @apply bg-emerald-50 text-stone-800;
  line-height: 1.6; /* space between lines */
}

/* Make all main containers have some side padding */
main, section, article, div {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* On bigger screens, increase padding */
@media (min-width: 640px) {
  body {
    padding: 2rem;
  }
}



html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ecfdf5; /* Tailwind's emerald-50 */
}
